body{
    font-family: 'Verdana';
}
section{
    background-color: aquamarine;
}
.subtitulo{
    color:blue;
    padding: 2rem;
}
#hero{
    background-color: black;
    color: white;
    padding: 3rem;
    font-family: 'Courier New';
}