@font-face {
    font-family: Orbitron;
    src: url(Orbitron-Regular.ttf);
  }
  
  h1 {
    font-family: Orbitron;
  }


body{
    font-family: 'Source Sans Pro';
}

h2{
    color: greenyellow;
    font-family: 'Source Sans Pro';
}
section{
    background-color: #EDECEA;
}

.subtitulo2{
    color:#333333;
    padding: 3rem;
}


.subtitulo{
    color:#333333;
    padding: 2rem;
}

#hero{
    background-color: #333333;
    color: white;
    padding: 3rem;
    font-family: 'Source Sans Pro';
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
